
.project-summary {
    margin-bottom: 50px;
}

.project-title {
    font-weight: bold;
    font-family: "Crimson Text", serif;
    font-size: 40px;
    color: white;
    padding-left: 50px;
    padding-bottom: 20px;
    margin-bottom: 70px;
    padding-top: 40px;
    background-color: black;
    box-shadow: 80px 30px 0 3px rgb(221, 12, 12);
}


/* This is the start of the infinite scrolling effect */

body {
    --scroll-duration: 40s;
    --scroll-num: 8;
}

.scroll-wrapper {
    width: 80%;
    height: 50px;
    position: relative;
    margin-inline: auto;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0 ,0 , 0, 1) 20%,
        rgba(0 ,0 , 0, 1) 80%,
        rgba(0, 0, 0, 0)
        )
}

@keyframes scrollleft{
    to {
        left: -200px;
    }
}

.keyword {
    padding: 5px 15px;
    margin-top: 2px;
    font-family: "Crimson Text", serif;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    position: absolute;
    left: max(calc(110px * 8), 100%);
    animation-name: scrollleft;
    animation-duration: var(--scroll-duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(var(--scroll-duration) / var(--scroll-num) * (var(--scroll-num) - var(--n)) * -1);
}


/* This is the end of the infinite scrolling effect */


.timeline {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    padding: 0 30px 0 70px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #000000;
    left: 50px;
}

.project-time {
    margin: 0;
    padding: 5px;
    font-size: x-large;
    font-weight: bold;
    line-height: 0;
}

@keyframes load {
    0% {
        transform: translateY(-150px);
        opacity: 0;
    }

    60% {
        opacity: 0.1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.project-time, .card-container::before {
    animation: load forwards;
    animation-range: 5% 30%;
    animation-timeline: view();
    opacity: 0;
}

.card-container {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 40px;
    padding-right: 70px;
    position: relative;
    
}

.card-container::before {
    content: "";
    position: absolute;
    left: -24px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.8);
}
 
.card {
    width: 100%;
    height: 60px; /* Initial height */
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: start; /* Align items to start to expand downward */
    transition: height 0.6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.8);

    animation: fade-in ease-out forwards;
    animation-range: 15% 30%;
    animation-timeline: view();
    opacity: 0;
}

@keyframes fade-in {
    0% {scale: .6; opacity: 0;}
    60% {scale: .8; opacity: 0.1;}
    90% {scale: 1; opacity: 0.8;}
    100% {scale: 1; opacity: 1;}
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    position: relative;
}

.card > .row > .icon {
    position: relative;
    left: 84%;
    font-weight: bold;
    font-size: large;
    letter-spacing: 1px;
    color: white;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.position{
    background-color: #1d222b;
}

.project {
    background-color: #FFC470;
}

.volunteer {
    background-color: #597445;
}

.portfolio {
    background-color: #4793AF;
}


.card > .row > .description {
    position: relative;
    left: -12%;
    
    overflow: hidden;
    
    width: 100%;
    padding-top: 17px;
}

.description p {
    color: white;
    padding-right: 30%;
    margin-inline: auto;
    opacity: 0;
    transform: translateY(-30px); /* Change the direction of transform */
    transition-delay: .3s;
    transition: all .3s ease;
}

.break {
    display: block;
    margin-top: 5px;
}

.description h4 {
    color: black;
    font-size: large;
    margin-bottom: 14px;
    text-shadow: 
        0 0 10px rgba(255, 255, 255, 0.9),  /* Larger and more opaque white shadow */
        0 0 20px rgba(255, 255, 255, 0.8),  /* Even bigger shadow to increase visibility */
        0 0 30px rgba(255, 255, 255, 0.7),  /* Extend the glow further */
        0 0 40px rgba(255, 255, 255, 0.6);
}

input {
    display: none;
}

input:checked + label {
    height: 200px; /* Expanded height */
}

input:checked + label .icon {
    height: 100%; /* Expanded height */
}

input:checked + label .description p{
    opacity: 1 !important;
    transform: translateY(0) !important;
}

input:checked + .card {
    background-size: auto 100%;
}


.card {
    background-size: 0%;
    background-repeat: no-repeat;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 40%, transparent 100%); */
}

.card[for="c1"] {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, transparent 100%);
}
.card[for="c2"] {
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, transparent 100%),
        url('/pictures/Project/Synaptech.webp');
    background-size: 0%; 
    background-repeat: no-repeat;
    background-position: 90% top;
}

.card[for="c3"] {
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, transparent 100%),
        url('/pictures/Project/Opticars.webp');
    background-size: 0%; 
    background-repeat: no-repeat;
    background-position: 78% top;
}
.card[for="c4"] {
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, transparent 100%),    
        url('/pictures/Project/ME123.webp');
    background-size: 0%; 
    background-repeat: no-repeat;
    background-position: 90% top;
}

.card[for="c5"] {
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, transparent 100%),
        url('/pictures/Project/BV.webp');
    background-size: 0%; 
    background-repeat: no-repeat;
    background-position: 78% top;
}

.card[for="c6"] {
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, transparent 100%),
        url('/pictures/Project/ENGR115.webp');
    background-size: 0%; 
    background-repeat: no-repeat;
    background-position: 76% top;
}

.card[for="c8"] {
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, transparent 100%),
        url('/pictures/Project/ToyAdp.webp');
    background-size: 0%; 
    background-repeat: no-repeat;
    background-position: 78% top;
}

.card[for="c7"] {
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, transparent 100%),
        url('/pictures/Project/GBG.webp');
    background-size: 0%; 
    background-repeat: no-repeat;
    background-position: 78% top;
}

.card[for="c9"] {
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, transparent 100%),
        url('/pictures/Project/ENGL131.webp');
    background-size: 0%; 
    background-repeat: no-repeat;
    background-position: 78% top;
}



@media only screen and (max-width: 768px) {
    .project-time, .card-container::before, .card {
        animation: none;
        opacity: 1;
    }

    .timeline {
        padding: 0;
    }

    .timeline::before {
        left: 20px;
        width: 1px;
    }

    .project-time {
        margin-left: 30px;
    }

    .card-container {
        padding-right: 40px;
    }

    .card-container::before {
        left: 16px;
        
    }

    .card {
        min-height: 80px;
        margin-left: 30px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 40%, transparent 100%);
    }

    .card[for="c1"], .card[for="c2"], .card[for="c3"], .card[for="c4"], .card[for="c5"],
    .card[for="c6"], .card[for="c7"], .card[for="c8"], .card[for="c9"]
    {
        background-position: bottom;
       
    }

    input:checked + .card {
        background-size: contain;
    }

    .description h4 {
        /* text-shadow:none; */
        padding-right: 20px;
    }
    .description p {
        /* color: gray; */
        padding-right: 30px;
    }
    input:checked + label {
        height: 370px; /* Expanded height */
    }

    .card > .row > .icon {
        font-size: 7px;
    }
}